@tailwind base;
@tailwind components;
@tailwind utilities;

/* If you need different padding for iOS */
.ios .custom-header ion-toolbar {
  --padding-top: 3rem;
  --padding-bottom: 1rem;
}

/* If you need different padding for Android */
.md .custom-header ion-toolbar {
  --padding-top: 3rem;
  --padding-bottom: 1rem;
}
